@model Taller2.Models.Estudiante

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Estudiante</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BannerId" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hobbies" class="control-label"></label>
                <input asp-for="Hobbies" class="form-control" />
                <span asp-validation-for="Hobbies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaMoidificacion" class="control-label"></label>
                <input asp-for="FechaMoidificacion" class="form-control" />
                <span asp-validation-for="FechaMoidificacion" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IeneBeca" /> @Html.DisplayNameFor(model => model.IeneBeca)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CarreraId" class="control-label"></label>
                <select asp-for="CarreraId" class="form-control" asp-items="ViewBag.CarreraId"></select>
                <span asp-validation-for="CarreraId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
